<html>
    <head>
        <title>
           Principal Page
        </title>
        <h1>
            GTD: La Base de Datos con eventos terroristas más grande y actualizada a dia de hoy
        </h1>
        <h3>
            A continuacion, seleccione que informacion le gustaria saber con respecto a los eventos terroristas
        </h3>
    </head>
    <body>
        <img src="https://www.start.umd.edu/gtd/images/START_GlobalTerrorismDatabase_TerroristAttacksConcentrationIntensityMap_45Years.png"
        width="600"
        />


        <!-- Se presentan las consultas pre-definidas a la base de datos-->
        <form action="/primeraQuery/" method="get">
            <FONT FACE="times new roman" SIZE=5>Primera consulta interesante
            <input type="submit" value="Query">
        </FONT>
        </form>

        <form action="/segundaQuery/" method="get">
            <FONT FACE="times new roman" SIZE=5>Segunda consulta interesante
            <input type="submit" value="segundaQuery">
        </FONT>
        </form>

        <form action="/terceraQuery/" method="get">
            <FONT FACE="times new roman" SIZE=5>Tercera consulta interesante
            <input type="submit" value="terceraQuery">
        </FONT>
        </form>    
    </body>
</html>